
td {
	padding: 30px 40px;
	color: green;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: bold;
}


td:hover {
  color: #3465a4;
}


table {	
	border-collapse: collapse;
	border: 2px solid green;
	background-color: #d3d7cf;
	display: inline-block;
	margin: 40px;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
}

#ohje {
	display: inline-block;
	vertical-align: top;

}

.oikea {
	display: inline-block;
	bottom: 400px;
	height:40px;
	vertical-align: top;
}

#huomautus {
	color: red;
	
}

#nabbula {
	background-color: #4CAF50;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 2px;
    cursor: pointer;
}
